<h1> ADS - Zadanie 1</h1>
<div>
  Vytvorte program, ktory pomocou dynamickeho programovania riesi nasledovny variant problemu
  ruksaku:
  <br>
   mame N predmetov, o kazdom predmete vieme jeho hodnotu, jeho vahu a to, ci je krehky
  alebo nie
  <br>
   kazdy predmet mozeme do ruksaku bud vlozit, alebo nevlozit. Jeden predmet mozeme do
  ruksaku vlozit najviac 1-krat a nemozeme brat casti predmetu (teda, ak sa rozhodneme
  predmet do ruksaku vlozit, musime ho tam vlozit cely).
  <br>
   Ulohou je najst take naplnenie ruksaku, aby ruksak nepresahoval vahu W, neobsahoval viac
  ako T krehkych predmetov a aby mal maximalnu moznu hodnotu. Moze existovat viac
  takychto naplneni, staci, ak vas program najde jedno.
</div>
  <Br>
  <input type="file" (change)="readFile($event)" accept=".txt">
  <br>
  <div *ngFor="let res of result; index as i">
    <span *ngIf="i == 0">Optimalna hodnota: </span>
    <span *ngIf="i == 1">Pocet predmetov: </span>
    <span *ngIf="i > 1">ID predmetu: </span>
    --- {{res}} ---
  </div>
