<h1> ADS - CVIKO 4</h1>
<div>Uvazujte data zo suboru ADS2021_cvicenie4data.txt. Data pozostavaju z 1000 riadkov, v kazdom
  riadku su styri cisla od 1 do 9. Kazdy riadok reprezentuje 2 polozky, ktore mozeme vlozit do
  ruksaku:<br>
  prve cislo reprezentuje hodnotu prvej polozky,<br>
  druhe cislo reprezentuje hmotnost prvej polozky,<br>
  tretie cislo reprezentuje hodnotu druhej polozky,<br>
  stvrte cislo reprezentuje hmotnost druhej polozky.<br>
  Zistite pomocou dynamickeho programovania hodnotu najhodnotnejsie nabaleneho ruksaku, ak
  mame nasledovne obmedzenia:</div>
<Br>
<input type="file" (change)="readFile($event)" accept=".txt">
<br>
<div>
  --- {{penalization}} ---
</div>
